@media (max-width: 350px) {
.info-header h1 {
    font-size: 18px !important;
}
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
/*========== Start Navbar ==========*/   
.navbar-light {
    background: #FFF;
}
.dark.navbar-light {
    background: #343436 ;
    border-bottom: 1px solid #29292d;
}
.dark.navbar-light .navbar-collapse {
    background: #343436;
}
.dark.navbar-light .navbar-nav .nav-item .nav-link {
    color: #f9f9f9;
}
.fixed-top .navbar-brand {
    color: #f98a61 !important;
}
.fixed-top .navbar-brand .brand-bg {
    background: #f98a61;
}
.navbar-light .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon.active ,
.nav-fixed .navbar-toggler-icon,
.nav-fixed .navbar-toggler-icon.active {
    
    background: #f98a61 !important;
}
.nav-fixed .navbar-nav .active>.nav-link,
.nav-fixed .navbar-nav .nav-link.active,
.nav-fixed .navbar-nav .nav-link.show,
.nav-fixed .navbar-nav .show>.nav-link {
    color: #f98a61 !important;
    background-color: transparent;
    border: 1px solid transparent;
}
.navbar-light .navbar-collapse {
    background: #FFF;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    color: #444;
    margin: 0;  
    padding: 0 0 15px 0;
} 
.side-menu-btn {
    display: none;
}
/*========== Start Header ==========*/    
.banner-meta {
    padding-left: 0px;
    margin-bottom: 15px;
}
.banner-meta li {
    margin-right: 10px;
}
.banner-meta li::before {
    display: none;
}
.info-header h1 {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 30px;
    padding-left: 0;
    letter-spacing: 0;
}
.info-header h1::before {
    display: none;
}
.info-header h1 span {
    margin-top: 0px;
}
.follow-me {
    right: 2px;
}
.follow-me p::before {
    left: 38px;
}
.follow-me .social-media-about li a {
    width: 25px;
    height: 25px;
}

.banner-btn {
    padding-left: 0px;
}
/*========== Start About ==========*/
.section-title {
    margin-bottom: 70px;
}
.section-title h3,
.section-title-left h3 {
    font-size: 20px;

}
.section-title h2,
.section-title-left h2 {
    font-size: 18px;
    padding-left: 30px;
    padding-top: 13px;
}
.section-title-left .line {
    margin-left: 10px;
}
.section-title p {
    margin-top: 0;
}
.info-about h4 {
    font-size: 17px;
}
.about-img img {
    margin-left: 0px;
    margin-top: 0;
} 
.about-img::before,
.box-img::after,
.box-img::before {
    display: none;
} 
.my-skills p {
    margin-bottom: 30px;
}
.about-img {
    margin-right: 0;  
}
.feat-meta {
    margin-left: 0;
}
.scroll-up {
    bottom: 90px;
    right: 10px;
}
    
    
/* Blog Pages */
.breadcrumb-area h1 {
    font-size: 25px;
    margin-bottom: 20px
}
.single-blog .blog-info {
    padding: 20px;
}
.single-blog .blog-info .date li {
    padding-right: 10px;
}
.single-blog .author img {
    margin-right: 5px;
}
.single-blog .share span {
    padding-right: 5px;
}
.single-blog .share-social li {
    padding-left: 5px;
}
.blog-area .blog-info,
.inner-comments,
.comment-form,
.widget-profile,
.widget-search,
.widget-posts,
.tags-list,
.widget-newsletter,
.comments .title-comments,
.title-add, 
.title-widget {

    padding: 20px;
}
    .categories-list li a {
        padding-left: 20px;
    }
.comment-author img {
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.person {
    padding-left: 70px;
}
    
.reply {
    margin-left: 0px;
}
.header-preview h1 {
    font-size: 20px;
}
.header-preview p {
    font-size: 15px
}
    
}



/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) { 
/*========== Start Navbar ==========*/   
.navbar-light {
    background: #FFF;
}
.dark.navbar-light {
    background: #343436 ;
    border-bottom: 1px solid #29292d;
}
.dark.navbar-light .navbar-collapse {
    background: #343436;
}
.dark.navbar-light .navbar-nav .nav-item .nav-link {
    color: #f9f9f9;
}
.fixed-top .navbar-brand {
    color: #f98a61 !important;
}
.fixed-top .navbar-brand .brand-bg {
    background: #f98a61;
}
.navbar-light .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon.active ,
.nav-fixed .navbar-toggler-icon,
.nav-fixed .navbar-toggler-icon.active {
    
    background: #f98a61 !important;
}
.nav-fixed .navbar-nav .active>.nav-link,
.nav-fixed .navbar-nav .nav-link.active,
.nav-fixed .navbar-nav .nav-link.show,
.nav-fixed .navbar-nav .show>.nav-link {
    color: #f98a61 !important;
    background-color: transparent;
    border: 1px solid transparent;
}

    
.navbar-light .navbar-collapse {
    background: #FFF;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    color: #444;
    margin: 0;  
    padding: 0 0 15px 0;
} 

.side-menu-btn {
    display: none;
}
/*========== Start Header ==========*/    
.banner-meta {
    padding-left: 0px;
    margin-bottom: 27px;
}
.info-header h1 {
    font-size: 34px;;
    line-height: 50px;
    padding-left: 0;
}
.info-header h1::before {
    display: none;
}
.info-header h1 span {
    margin-top: 0px;
}
.banner-btn {
    padding-left: 0px;
}
/*========== Start About ==========*/
.section-title {
    margin-bottom: 70px;
}
.section-title h3,
.section-title-left h3 {
    font-size: 24px;

}
.section-title h2,
.section-title-left h2 {
    font-size: 18px;
}
.section-title p {
    margin-top: 0;
}
.about-img img {
    margin-left: 0px;
    padding-left: 40px;
    margin-top: 0;
}
.about-img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 100px;
}
.box-img::after,
.box-img::before {
    display: none;
}
.my-skills p {
    margin-bottom: 30px;
}
.scroll-up {
    bottom: 90px;
    right: 10px;
}
}

/*  Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
/*========== Start Navbar ==========*/   
.navbar-light {
    background: #FFF;
}
.dark.navbar-light {
    background: #343436 ;
    border-bottom: 1px solid #29292d;
}
.dark.navbar-light .navbar-collapse {
    background: #343436;
}
.dark.navbar-light .navbar-nav .nav-item .nav-link {
    color: #f9f9f9;
}
.dark.navbar-light .social-media-nav li svg {
    color: #f9f9f9;
}
    
.fixed-top .navbar-brand {
    color: #f98a61 !important;
}
.fixed-top .navbar-brand .brand-bg {
    background: #f98a61;
}
.navbar-light .navbar-toggler-icon,
.navbar-light .navbar-toggler-icon.active ,
.nav-fixed .navbar-toggler-icon,
.nav-fixed .navbar-toggler-icon.active {
    
    background: #f98a61 !important;
}
.nav-fixed .navbar-nav .active>.nav-link,
.nav-fixed .navbar-nav .nav-link.active,
.nav-fixed .navbar-nav .nav-link.show,
.nav-fixed .navbar-nav .show>.nav-link {
    color: #f98a61 !important;
    background-color: transparent;
    border: 1px solid transparent;
}

    
.navbar-light .navbar-collapse {
    background: #FFF;
}
.navbar-light .navbar-nav .nav-item .nav-link {
    color: #444;
    margin: 0;  
    padding: 0 0 15px 0;
} 
.social-media-nav {
    padding: 10px 0;
    padding-left: 0;
}
    .navbar-light  .social-media-nav li {
        padding-right: 10px;
        padding-left: 0
    }
.navbar-light  .social-media-nav li svg{
    color: #555;
}
.nav-fixed .social-media-nav li:first-of-type:before {
    background: #FFF;
}
.side-menu-btn {
    display: none;
}
/*========== Start Header ==========*/    
.info-header h1 {
    font-size: 40px;
    line-height: 65px;
}
.info-header h1 span {
   
}

.section-title p {
    padding-right: 0;
    padding-left: 0;
}
/*========== Start About ==========*/
.section-title {
    margin-bottom: 70px;
}
.section-title h3,
.section-title-left h3 {
    font-size: 26px;

}
.section-title h2,
.section-title-left h2 {
    font-size: 18px;
}
.section-title p {
    margin-top: 0;
}
.about-img::before {
    left: -20px;
}
.box-img img {
    display: block;
    width: 100%;
    margin-left: 30px;
}
.about-img {
    display: block;
    width: 100%;
    margin-bottom: 100px;
    padding-right: 40px;
    
}
.box-img::before {
    top: -50px;
    right: -60px;
}

.social-media li a {
    margin-bottom: 5px;
}
.my-skills p {
    margin-bottom: 30px;
}
.scroll-up {
    bottom: 90px;
    right: 10px;
}
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}